<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <script defer src="https://kit.fontawesome.com/8c4bd008c3.js" crossorigin="anonymous"></script>

    <title>To Do - logowanie</title>
</head>

<body>
    <nav class="main-nav">
        <div class="main-nav__logo">
            <i class="fa-solid fa-circle-check"></i>
            <p class="logo-text">To Do</p>
        </div>
        <a class="btn go-next" href="/">Home Page</a>
    </nav>
    <main>

        <!-- Create account form-->
        <form id="create-account-form">
            <h1>Registration</h1>
            <div class="inputs">
                <div class="inputfield">
                    <label for="name">Name:</label>
                    <input class="input" type="text" id="name">
                    <div class="error name-error"></div>
                </div>
                <div class="inputfield">
                    <label for="surname">Surname:</label>
                    <input class="input" type="text" id="surname">
                    <div class="error surname-error"></div>
                </div>
                <div class="inputfield">
                    <label for="age">Age:</label>
                    <input class="input" type="number" id="age" min="6" max="120">
                    <div class="error age-error"></div>
                </div>
                <div class="inputfield">
                    <label for="login-1">Login:</label>
                    <input class="input" type="text" id="login-1">
                    <div class="error login-1-error"></div>
                </div>
                <div class="inputfield">
                    <label for="password-1">Password:</label>
                    <input class="input" type="password" id="password-1">
                    <div class="error password-1-error"></div>
                </div>
                <div class="inputfield">
                    <label for="password-2">Repeat password:</label>
                    <input class="input" type="password" id="password-2">
                    <div class="error password-2-error"></div>
                </div>
            </div>
            <button class="btn btn-submit" type="submit">Register</button>
            <p class="form-text">
                <a href="/login" class="form-link" id="log-in">Already have an account? Login now</a>
            </p>
        </form>
    </main>
    <script defer src="https://kit.fontawesome.com/8c4bd008c3.js" crossorigin="anonymous"></script>
</body>

</html>