<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <script defer src="https://kit.fontawesome.com/8c4bd008c3.js" crossorigin="anonymous"></script>
    <script defer src="https://kit.fontawesome.com/8c4bd008c3.js" crossorigin="anonymous"></script>
    <script defer src="js/registerHandler.js"></script>
    <script defer src="js/go-to-main-page.js"></script>

    <title>To Do - logowanie</title>
</head>

<body>
    <nav class="main-nav">
        <div class="main-nav__logo">
            <i class="fa-solid fa-circle-check"></i>
            <p class="logo-text">To Do</p>
        </div>
        <a class="btn go-next" href="/">Strona Główna</a>
    </nav>
    <main>

        <!-- Create account form-->
        <form id="create-account-form">
            <h1>Rejestracja</h1>
            <div class="inputs">
                <div class="inputfield">
                    <label for="name">Imię:</label>
                    <input class="input" type="text" id="name">
                    <div class="error name-error"></div>
                </div>
                <div class="inputfield">
                    <label for="surname">Nazwisko:</label>
                    <input class="input" type="text" id="surname">
                    <div class="error surname-error"></div>
                </div>
                <div class="inputfield">
                    <label for="login-1">Login:</label>
                    <input class="input" type="text" id="login-1">
                    <div class="error login-1-error"></div>
                </div>
                <div class="inputfield">
                    <label for="email">Email:</label>
                    <input class="input" type="text" id="email">
                    <div class="error email-error"></div>
                </div>
                <div class="inputfield">
                    <label for="password-1">Hasło:</label>
                    <input class="input" type="password" id="password-1">
                    <div class="error password-1-error"></div>
                </div>
                <div class="inputfield">
                    <label for="password-2">Powtórz hasło:</label>
                    <input class="input" type="password" id="password-2">
                    <div class="error password-2-error"></div>
                </div>
            </div>
            <button class="btn btn-submit" type="submit">Zarejestruj</button>
            <p class=" form-text">
                <a href="/login" class="form-link" id="log-in">Posiadasz już konto? Zaloguj się teraz</a>
            </p>
        </form>
        <div class="modal hidden" id="register-modal">
            <button class="close-modal">&times;</button>
            <h2 class="modal-title" id="register-modal-title">Wystąpił błąd po stronie serwera</h2>
            <p class="modal-text" id="register-modal-text">Spróbuj ponownie później</p>
        </div>
        <div class="overflow hidden"></div>
    </main>
</body>

</html>