@import "base.css";
@import "index.css";

body {
    background: linear-gradient(to right bottom, var(--dark-blue-2), var(--light-blue-1));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* NAV */
.main-nav__logo i {
    background: linear-gradient(to right bottom, var(--white-2), var(--white-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav__logo .logo-text {
    background: linear-gradient(to right bottom, var(--white-2), var(--white-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav .btn {
    background-color: var(--white-2);
    border: none;
}

.main-nav .btn:hover {
    background-color: var(--dark-blue-2);
}

/* Log in */

main {
    max-width: 80rem;
    width: 100%;
    padding: 6rem 2rem;
    background-color: var(--white-2);
    border-radius: 8px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, .3);
    margin: 4rem auto 5rem auto;
}


h1 {
    font-size: 5rem;
    color: var(--dark-gray-2);
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 4px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    width: 100%;
}

.inputfield {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
}

.inputfield label {
    display: block;
    padding: 0.5rem 0;
}

.inputfield .input {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid var(--white-2);
    padding: 0.6rem 1rem;
    border-radius: 4px;

}

.inputfield .input:hover,
.input:active,
.input:focus {
    border: 1px solid var(--dark-blue-2);
}

.btn-submit {
    display: block;
    padding: 1.2rem 2rem;
    width: 60%;
    text-align: center;
    margin: 3rem auto;
    background-color: var(--dark-blue-2);
    color: white;
    border: none;
    border-radius: 8px;
    transition: all .2s;
}

.btn-submit:hover {
    cursor: pointer;
    filter: brightness(1.3);
    transform: translateY(-4px);
}

.form-text {
    text-align: center;
}

.form-link {
    color: var(--dark-gray-1);
    text-decoration: none;
    font-size: 1.6rem;
}

.form-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: #d90429;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: left;
    margin-top: .4rem;
}



/* Media queries */
@media only screen and (max-width: 555px) {
    main {
        border-radius: 0;
    }

    .inputfield {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    main {
        padding: 3rem 1rem;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
    }
}